<!DOCTYPE html>
<html>
  <head>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <%- include('partials/nav'); %>
    <h1>Lights</h1>
    <ul>
      <% data.forEach(function(light){ %>
        <li> <a href="/lights/<%= light.light_num %>">Light# <%= light.light_num %></a></li>
        <p> LED colors: <%= light.colors %> </p>
        <p> LED msg: <%= light.msg %> </p>
        <br></br>
      <% }); %>
    </ul>
  <body>
</html>
