<!DOCTYPE html>
<html>
  <head>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <%- include('partials/nav'); %>
    <h1>Light #<%= light_num %>  [<%= data.version %>]</h1>
    <p><strong>LED Status: </strong> <%= data.leds_powered %> </p>
    <p><strong>LED colors: </strong> <%= data.colors %> </p>
    <p><strong>LED Msg: </strong> <%= data.msg %> </p>

    <form action="/api" method="get" onsubmit="setTimeout(function(){window.location.reload();},10);">
      <input type = "hidden" name = "light_num" value = "<%= light_num %>" />
        <input type = "hidden" name = "colors" value = "1" />
        <input type = "hidden" name = "msg" value = "setting light to color 1" />
      <button type="submit" formmethod="post">Red & Black Snake</button>
    </form>

    <form action="/api" method="get" onsubmit="setTimeout(function(){window.location.reload();},10);">
      <input type = "hidden" name = "light_num" value = "<%= light_num %>" />
      <input type = "hidden" name = "colors" value = "2" />
      <input type = "hidden" name = "msg" value = "setting light to color 2" />
      <button type="submit" formmethod="post">Pink & Blue Snake</button>
    </form>

    <form action="/api" method="get" onsubmit="setTimeout(function(){window.location.reload();},10);">
      <input type = "hidden" name = "light_num" value = "<%= light_num %>" />
      <input type = "hidden" name = "colors" value = "3" />
      <input type = "hidden" name = "msg" value = "setting light to color 3" />
      <button type="submit" formmethod="post">Yellow & Green Snake</button>
    </form>

    <form action="/api" method="get" onsubmit="setTimeout(function(){window.location.reload();},10);">
      <input type = "hidden" name = "light_num" value = "<%= light_num %>" />
      <input type = "hidden" name = "colors" value = "4" />
      <input type = "hidden" name = "msg" value = "setting light to color 4" />
      <button type="submit" formmethod="post">Random Colors</button>
    </form>

    <form action="/api" method="get" onsubmit="setTimeout(function(){window.location.reload();},10);">
      <input type = "hidden" name = "light_num" value = "<%= light_num %>" />
      <input type = "hidden" name = "colors" value = "5" />
      <input type = "hidden" name = "msg" value = "setting light to color 5" />
      <button type="submit" formmethod="post">Red Fade</button>
    </form>

    <form action="/api" method="get" onsubmit="setTimeout(function(){window.location.reload();},10);">
      <input type = "hidden" name = "light_num" value = "<%= light_num %>" />
      <input type = "hidden" name = "colors" value = "6" />
      <input type = "hidden" name = "msg" value = "setting light to color 6" />
      <button type="submit" formmethod="post">Pink Fade</button>
    </form>

    <form action="/api" method="get" onsubmit="setTimeout(function(){window.location.reload();},10);">
      <input type = "hidden" name = "light_num" value = "<%= light_num %>" />
      <input type = "hidden" name = "colors" value = "7" />
      <input type = "hidden" name = "msg" value = "setting light to color 7" />
      <button type="submit" formmethod="post">Baby Blue Fade</button>
    </form>

    <form action="/api" method="get" onsubmit="setTimeout(function(){window.location.reload();},10);">
      <input type = "hidden" name = "light_num" value = "<%= light_num %>" />
      <input type = "hidden" name = "colors" value = "8" />
      <input type = "hidden" name = "msg" value = "setting light to color 8" />
      <button type="submit" formmethod="post">Yellow Fade</button>
    </form>

    <form action="/api" method="get" onsubmit="setTimeout(function(){window.location.reload();},10);">
      <input type = "hidden" name = "light_num" value = "<%= light_num %>" />
      <input type = "hidden" name = "colors" value = "9" />
      <input type = "hidden" name = "msg" value = "setting light to color 9" />
      <button type="submit" formmethod="post">Green Fade</button>
    </form>

  <body>
</html>
